@import './utilities/links';

body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white !important
}

input {
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-transform: none;
}
::placeholder {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.nav-link {
  cursor: pointer;
}