@import '../../assets/scss/utilities/variables';

.header {
  margin: 2rem 0 2.5rem 0;

  .img-logo {
    display: block;
  }

  .navbar-expand-lg {
    // animation-duration: .4s;
    // transition-timing-function: ease-in-out;
    // animation-name: sideRightLeft;

    .navbar-nav {
      margin-top: -.5rem;
    }
  }

  .img-logo {
    max-width: 200px;
    animation-duration: .4s;
    transition-timing-function: ease-in-out;
    animation-name: slideTopBottom;

  }


  .show {

    .nav-item {
      border-bottom: $black solid 1px;
    }
  }

  @media screen and (max-width: $break-medium) {
    .navbar {
      position: absolute;
      top: -1rem;
      right: 0;

      .navbar-nav {
        background-color: rgba($black, .7);
        border-radius: 9px;
        border-top-right-radius: 0;
        overflow: auto;
        margin: -2px 8px 0 0;
        z-index: -1;

        .nav-link {
          color: $white !important;
          padding: 1rem;
        }
      }
    }
  }

  .navbar-light {
    .navbar-toggler {
      color: rgba($black, .9);
      border-color: rgba($black, .7);
    }
  }

}