@import '../../assets/scss/utilities/variables';

.footer {
  margin-bottom: 1rem;

  .ico-global {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1rem;
    margin-top: -4px;
    margin: 0 .5rem 0 0;

    svg {
      width: 100%;
      height: 30px;
      fill: $black;
    }
  }

  .selected {
    font-size: 1.2rem;
  }



  .dropdown {
    @media screen and (max-width: $break-medium) {
      justify-content: center;
      display: flex;
    }

  }

  .button-localization {
    position: relative;
    background-color: transparent;
    color: $black;
    border: 0;

    &:hover {
      background-color: $black;
      svg {
        fill: $white;
      }
    }
  }
}