@import '../../assets/scss/utilities/variables';

.footer {
  .ico-global {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1rem;
    margin-top: -4px;
    margin: -.2rem .5rem 0 0;

    svg {
      width: 100%;
      height: 30px;
    }
  }
  .button-localization{
    &:hover{
      svg{
        fill: $white;
      }
    }
  }

  .button-localization {
    position: relative;
    background-color: transparent;
    color: $black;
    border: 0;
  }
}