@import '../../assets/scss/utilities/variables';

.login {
  margin-bottom: 2rem;

  .img-tv {
    display: none;
  }

  .title {
    font-size: 4rem;
  }

  @media screen and (min-width: $break-medium) {
    margin-bottom: 6.6rem;

    .img-tv {
      display: block;
      margin-top: 1rem;
    }
  }

  .container {
    max-width: 500px;
  }

  .btn-form {
    width: 100%;
    background-color: $black;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .nav-link {
    opacity: .5;
    font-size: .8rem;
  }




  .img-tv {
    animation-name: sideLeftRight;
  }

  .login-card {
    animation-name: sideRightLeft;
  }

  .login-card,
  .img-tv {
    animation-duration: .4s;
    transition-timing-function: ease-in-out;
  }
}